<div class="container-fluid container-general container-cellar p-0">
    <div class="table-responsive-sm cellars p-3">
            {{#if achievement}}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading d-inline">Well done!</h4>
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                <p>You've got a new achievement: <strong>{{achievement}}</strong></p>
                <hr>
                <p class="mb-0"> Take a look at your conquests in the <a href="/achievements">achievements</a> top bar's option</p>
            </div>
            <script>
                if(achieveSound) {
                    achieveSound.play();
                }
            </script>
            {{/if}}

        <p class="fs-2 text-center mb-1">My Wine Cellars</p>
        <table class="table text-light table-borderless"> <!--style="width: 98vw;"-->
            <tr class="fs-6 text-light border-bottom">
                <th>Name</th>
                <th>Where is it?</th>
                <th>Capacity</th>
                <th class="text-start" colspan="2">Managing</th>
            </tr>
            {{#each cellars}}
                <tr class="text-light align-middle fs-6">
                    <td class="fw-bold"><a href="/cellars/{{id}}/wines">Enter the {{name}}</a></td>
                    <td>{{place}}</td>
                    <td>{{capacity}}</td>

                    <td>
                        <a href="/cellars/{{id}}/edit">Edit {{name}}</a>
                    </td>

                    <td>
                        <form action="/cellars/{{id}}/delete" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    </td>
                </tr>
            {{/each}}
        </table>
        <p class="fs-5" colspan="4"><a href="/cellars/create">New Cellar</a></p>
    </div>
</div>

