<div class="container-fluid container-general container-cellar">
    <div class="col-md-4 offset-md-4 text-light">
        <div class="text-center">
            <h1 class="title" id="app-name">{{title}}</h1>
            <h5 class="title">Update Cellar</h5>
        </div>
        <form action="/cellars/{{cellar.id}}" method="POST">
            <div class="mb-3">
                <label class="form-label shaded" for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" 
                    value="{{cellar.name}}" placeholder="Insert cellar's new name here" required>
            </div>

            <div class="mb-3">
                <label class="form-label shaded" for="place">Place</label>
                <input class="form-control" type="text" name="place" id="place"
                    value="{{cellar.place}}" placeholder="Where is it?">
            </div>

            <div class="mb-3">
                <label class="form-label shaded" for="capacity">Capacity</label>
                <input class="form-control" type="number" name="capacity" id="capacity" 
                    value="{{cellar.capacity}}" min="{{cellar.wines.length}}" max="900" placeholder="How much spaces does your cellar have?">
            </div>

            <button class="btn btn-danger" type="submit">Update this Cellar</button>
            <a href="/cellars" class="btn btn-warning float-end">Cancel</a>

            {{#if errorMessage}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{errorMessage}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}
        </form>
    </div>
</div>