<div class="container-fluid container-general container-cellar p-0">
    <div class="col-md-6 table-responsive-sm">
        <table class="table text-light table-striped cellars"> <!--style="width: 98vw;"-->
            <tr class="text-light align-middle">
                <th class="fs-2" colspan="3">My Wine Cellars</th>
                <th class="fs-4 text-end" colspan="2"><a href="/cellars/create">New Cellar</a></th>
            </tr>

            <tr class="fs-6 text-light">
                <th>Name</th>
                <th>Where is it?</th>
                <th>Capacity</th>
                <th class="text-center" colspan="2">Managing</th>
            </tr>
            {{#each cellars}}
                <tr class="text-light align-middle">
                    <td class="fw-bold"><a href="/cellars/{{id}}/wines">Enter the {{name}}</a></td>
                    <td>{{place}}</td>
                    <td>{{capacity}}</td>

                    <td>
                        <a href="/cellars/{{id}}/edit">Edit {{name}}</a>
                    </td>

                    <td>
                        <form action="/cellars/{{id}}/delete" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

