<h1>Edit My Cellars</h1>

<form action="/cellars/{{cellar.id}}" method="POST">

<label>Name</label>
    <input type="text" name="name" value="{{cellar.name}}">

<label>Place</label>
    <input type="text" name="place" value="{{cellar.place}}">

<label>Capacity</label>
    <input type="number" name="capacity" value="{{cellar.capacity}}">

<label>Wine</label>
    <input type="text" name="wines" value="{{cellar.wines}}">




<button type="submit">Update My Cellar</button>

</form>