<div class="container-fluid container-general container-profile">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-2 text-light">
        <div class="text-center">
            <h1 class="title shaded" id="app-name">{{title}}</h1>
            <h3 class="title shaded mb-3">My Profile</h3>
            {{#if message}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}

            {{#if errorMessage}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{errorMessage}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}

            {{#if achievement}}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading d-inline">Well done!</h4>
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                <p>You've got a new achievement: <strong>{{achievement}}</strong></p>
                <hr>
                <p class="mb-0"> Take a look at your conquests in the <a href="/achievements">achievements</a> top bar's option</p>
            </div>
            <script>
                if(achieveSound) {
                    achieveSound.play();
                }
            </script>
            {{/if}}
        </div>

        <!-- Profile pic cloudinary -->
        <div class="container-fluid d-flex justify-content-between align-items-start">
            <div class="me-3" id="profile-pic" style="background-image: url({{user.imageURL}});">
        
            </div>
            <div class="flex-grow-1">
                <form class="mb-3" action="/profile/{{user._id}}/new-username" method="POST">
                    {{!-- <label class="form-label shaded" for="username">Username</label> --}}
                    <div class="mb-3">
                        <label for="username" class="form-label shaded">Username</label>
                        <input class="form-control" type="text" name="username" id="username" value="{{user.username}}">
                    </div>
                    <button id="btn-update-username" class="btn btn-danger btn-sm" type="submit" disabled>Update Username</button>
                </form>
            </div>
        </div>
        <!-- to have a profile pic -->
    
       
        <form class="mb-3" action='/profile/update-profile-pic' method="POST" enctype="multipart/form-data">
            <div class="input-group input-group-sm">
                <input class="form-control" type='file' name='image'/>
                <button class="btn btn-danger" id="btn-change-image" type="submit">Change Image</button>
            </div>
        </form>
    
        <h5 class="mb-3 shaded">Email: {{user.email}}</h5>

        <!--to add friend button-->
        <form class="mb-3" action="/profile/add" method="POST">
            <input type="hidden" name="id" value="{{user._id}}">
            <button id="btn-add-username" class="btn btn-danger btn-sm" type="submit">Add Wine Friend</button>
        </form>
        <!-- end to add a friend -->  
    
        <!-- test for selector for favorite wines and so on -->
        <div class="mb-3">
            <label class="form-label-check shaded" for="wine-list">My Favorite Types of Wine:</label>
        <form class="checkbox" action="/profile/favorite-wine-type" method="POST">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="red" id="flexSwitchCheckRed" checked="off" value="red-wine">
                <label class="form-check-label" for="flexSwitchCheckRed">Red</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="white" id="flexSwitchCheckWhite" checked="off" value="white-wine">
                <label class="form-check-label" for="flexSwitchCheckWhite">White</label>
            </div>
             <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="rose" id="flexSwitchCheckRose" checked="off" value="rose-wine">
                <label class="form-check-label" for="flexSwitchCheckRose">Rose</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="sparkling" id="flexSwitchCheckSparkling" checked="off" value="sparkling-wine">
                <label class="form-check-label" for="flexSwitchCheckSparkling">Sparkling</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="dessert" id="flexSwitchCheckDessert" checked="off" value="dessert-wine">
                <label class="form-check-label" for="flexSwitchCheckDessert">Dessert</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="green" id="flexSwitchCheckGreen" checked="off" value="green-wine">
                <label class="form-check-label" for="flexSwitchCheckGreen">Green</label>
            </div>
            <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="porto" id="flexSwitchCheckPorto" checked="off" value="porto-wine">
                    <label class="form-check-label" for="flexSwitchCheckPorto">Porto</label>
            </div>
             <div class="form-check form-switch">
                <button class="btn btn-danger" id="btn-change-image" type="submit">Add Choices</button>
            </div>
            </form>
        </div>
        <!-- test end -->

        <!-- Test the wineLover selection -->
     <form class="select" id="wine-lover" action="/profile/wine-lover" method="POST">
        <div class="mb-3">
            <label class="form-label wine-lover-list" for="wine-lover-list">WineLover Meter:</label>
            <select id="wine-lover-list" name="wine" class="form-select">
                <option selected disabled>Open to choose</option>
                <option value="1">Wine Enthusiast (Love wine) </option>
                <option value="2">Wine&Social (Drink socially)</option>
                <option value="3">Grape Lover (Prefer grapes juice but drinks a glass once in a while)</option>
            </select>
            <button type="submit">Choose</button>
        </div>
    </form>
        <!-- End of WineLove Selection test -->
            
        <!-- the delete button -->
        <form action="/profile/delete" method="POST">
            <input type="hidden" name="id" value="{{user._id}}">
            <button id="btn-delete-username" class="btn btn-danger btn-sm" type="submit">Delete Account</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('username').addEventListener('keyup', (event) => {
        document.getElementById('btn-update-username').disabled = false;
    });

//switch buttons of favorite wine
    document.getElementsByName('red')[0].checked = {{user.switch}}
    document.getElementsByName('white')[0].checked = {{user.switch}}
    document.getElementsByName('rose')[0].checked = {{user.switch}}
    document.getElementsByName('sparkling')[0].checked = {{user.switch}}
    document.getElementsByName('dessert')[0].checked = {{user.switch}}
    document.getElementsByName('green')[0].checked = {{user.switch}}
    document.getElementsByName('porto')[0].checked = {{user.switch}}

//winelover meter select
    document.getElementById('wine-lover-list').submit();
    
    //addEventListener('submit', (event) => {
     //   document.getElementById('btn-update-username').disabled = false;
    //});

</script>

