<div class="container-fluid container-general container-profile">
    <div class="col-md-4 offset-md-4 text-light">
        <div class="text-center">
            <h1 class="title" id="app-name">{{title}}</h1>
            <h5 class="title">My Profile</h5>
        </div>
        <form class="mb-3" action="/profile/{{user._id}}/new-username" method="POST">
            <div class="mb-3">
                <label class="form-label shaded" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" value="{{user.username}}">
            </div>
            <button id="btn-update-username" class="btn btn-danger btn-sm" type="submit">Update Username</button>
        </form>
        {{#if message}}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {{/if}}
        <h5>Email: {{user.email}}</h5>

        <!-- test for selector for favorite wines and so on -->
         <div>
             <label class="form-label-check" for="wine-list">My Favorite Types of Wine:</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Red</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">White</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Sparkling</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Dessert</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Green</label>
                </div>
                <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                     <label class="form-check-label" for="flexSwitchCheckChecked">Porto</label>
                </div>
             </div>
        <!-- test end -->
    
    <!-- Test the wineLover selection -->
    <label class="form-label-wine-lover" for="wine-list">WineLover Meter:</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open to see the meter</option>
            <option value="1">Wine Enthusiast (Love wine) </option>
            <option value="2">Wine&Social (Drink socially)</option>
            <option value="3">Grape Lover (Prefer grapes juice but drinks a glass once in a while)</option>
        </select>
    <!-- End of WineLove Selection test -->
<!-- the delete button -->
        <form action="/profile/delete" method="POST">
            <input type="hidden" name="id" value="{{user._id}}">
            <button id="btn-delete-username" class="btn btn-danger btn-sm" type="submit">Delete Username</button>
        </form>

<!-- to test the profile pic 
         <div class="container-photo">
             <div class="container-choose">
                  <form action="#" method="post">
                       <div class="form-control">
                          <label class="header">Profile Photo:</label>    
                          <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                          <input type="submit">
                         </div>
                    </form>
            </div>
        </div>
    <!-- end of profile pic test -->

    <!-- a different test with multer, cloudinary, multer-storage-cloudinary-->
    <form action='/api/images' method="POST" enctype="multipart/form data">
        <input type='file' name='image'/>
        <input type="submit">
    </form>

    </div>

</div>