<div class="container-fluid container-general container-profile">
    <div class="col-md-4 offset-md-4 text-light">
        <div class="text-center">
            <h1 class="title" id="app-name">{{title}}</h1>
            <h5 class="title">My Profile</h5>
        </div>
        <form class="mb-3" action="/profile/{{user._id}}/new-username" method="POST">
            <div class="mb-3">
                <label class="form-label shaded" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" value="{{user.username}}">
            </div>
            <button id="btn-update-username" class="btn btn-danger btn-sm" type="submit">Update Username</button>
        </form>
        {{#if message}}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {{/if}}
        <h5>Email: {{user.email}}</h5>
    </div>

<!-- the delete button -->
<form action="/profile/delete" method="POST">
    <input type="hidden" name="id" value="{{user._id}}">
    <button id="btn-delete-username" class="btn btn-danger btn-sm" type="submit">Delete Username</button>
</form>
 

 <!-- to test the profile pic -->

         <div class="container-photo">
             <div class="container-choose">
                  <form action="#" method="post">
                       <div class="form-control">
                          <label class="header">Profile Photo:</label>    
                          <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                          <input type="submit">
                         </div>
                    </form>
            </div>
        </div>
    <!-- end of profile pic test -->
</div>