
<div class="container-fluid container-general container-wine">
    <div id="grid-container" class="pt-3 m-auto">
        {{#each cellar.wines}}
            <div class="wine-container filled">
            <!--    <a class="plus-icon" href="/cellars/{{../cellar.id}}/wines/add"></a>
                        <i class="bi-plus-square" style="font-size: 1.2rem; color:maroon"></i>
                </a> -->
                <a class="shaded top-centered" href="/cellars/{{../cellar.id}}/wines/{{id}}">
                    <p>{{name}}</p>
                </a>

                <img src="/images/top_view_bottle.png" height="100px" width="100px">
                <a class="open-link" href="" {{!--href="/cellar/{{../cellar.id}}/wines/{{id}}/open"--}}
                data-bs-toggle="modal" data-bs-target="#openWineModal" data-bs-wine="{{this.name}}"
                data-bs-type="{{type}}" data-bs-year="{{year}}" data-bs-id="{{id}}">Open</a>

                <a class="edit-icon" href="/cellars/{{../cellar.id}}/wines/{{id}}/edit">
                    <i class="bi-pencil-square" style="font-size: 1.2rem; color: lightgreen;"></i>
                </a>

                <form class="background-light" action="/cellars/{{../cellar.id}}/wines/{{id}}/delete" method="POST">
                    <button class="delete-icon border-0 bg-transparent">
                        <i class="bi-trash" style="font-size: 1.2rem; color: red;"></i>
                    </button>
                </form>
            </div> 
        {{/each}}
    </div>
</div>

<!-- modal for open wine -->
<div class="modal fade" id="openWineModal" tabindex="-1" aria-labelledby="openWineModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openWineModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="open-form" class="form" method="POST">
            <input type="hidden" name="year" id="wine-year" value=""> <!-- wine year -->
            <input type="hidden" name="type" id="wine-type" value=""> <!-- wine type -->
            <input type="hidden" name="name" id="wine" value=""> <!-- wine name -->

          <div class="mb-3">
            <label for="event" class="col-form-label">Event:</label>
            <textarea class="form-control" name="event" id="event"></textarea>
          </div>

          <div class="mb-3">
            <p style="font-size: 0.7rem" class="m-1">No date means today</p>
            <label for="open-date">Opened at:</label>
            <input type="date" name="openingDate" id="open-date">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="open-form" class="btn btn-danger">Open this wine</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal for open wine -->
<script>
    let max = {{cellar.capacity}} - {{cellar.wines.length}};
    let container = document.getElementById('grid-container');
    let div;
    let text;

    for(let i = 1; i <= max; i++) {
        div = document.createElement('div');
        div.innerHTML = `
        <div class="wine-container">
        <a class="plus-icon" href="/cellars/{{cellar.id}}/wines/add">
            <i class="bi-plus-square" style="font-size: 4.1rem; color:darkred"></i>
        </a>
            `;
        container.appendChild(div);
    }

    let openModal = document.getElementById('openWineModal');
        openModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        let anchorElem = event.relatedTarget;
        // Extract info from attributes
        let wine = anchorElem.getAttribute('data-bs-wine');
        let wineYear = anchorElem.getAttribute('data-bs-year');
        let wineType = anchorElem.getAttribute('data-bs-type');
        let wineId = anchorElem.getAttribute('data-bs-id');

        let modalTitle = openModal.querySelector('.modal-title');
        
        openModal.querySelector('#wine').value = wine;
        openModal.querySelector('#wine-year').value = wineYear;
        openModal.querySelector('#wine-type').value = wineType;
        openModal.querySelector('#open-form').setAttribute('action', `/cellars/{{cellar.id}}/wines/${wineId}/open`);

        modalTitle.textContent = 'Opening ' + wine;
        });
        
        openModal.addEventListener('hidden.bs.modal', function (event) {
            openModal.querySelector('.form').reset();
        });
</script>