
<div class="container-fluid container-general container-wine">
    <div id="grid-container" class="pt-3 m-auto">
        {{#each cellar.wines}}
            <div class="wine-container filled">
            <!--    <a class="plus-icon" href="/cellars/{{../cellar.id}}/wines/add"></a>
                        <i class="bi-plus-square" style="font-size: 1.2rem; color:maroon"></i>
                </a> -->
                <a class="shaded top-centered" href="/cellars/{{../cellar.id}}/wines/{{id}}">
                    <p>{{name}}</p>
                </a>

                    <img src="/images/top_view_bottle.png" height="100px" width="100px">

                <a class="edit-icon" href="/cellars/{{../cellar.id}}/wines/{{id}}/edit">
                    <i class="bi-pencil-square" style="font-size: 1.2rem; color: lightgreen;"></i>
                </a>

                <form class="background-light" action="/cellars/{{../cellar.id}}/wines/{{id}}/delete" method="POST">
                    <button class="delete-icon border-0 bg-transparent">
                        <i class="bi-trash" style="font-size: 1.2rem; color: red;"></i>
                    </button>
                </form>
            </div> 
        {{/each}}
    </div>
</div>

<script>
    let max = {{cellar.capacity}} - {{cellar.wines.length}};
    let container = document.getElementById('grid-container');
    let div;
    let text;

    for(let i = 1; i <= max; i++) {
        div = document.createElement('div');
        div.innerHTML = `
        <div class="wine-container">
        <a class="plus-icon" href="/cellars/{{cellar.id}}/wines/add">
            <i class="bi-plus-square" style="font-size: 4.1rem; color:darkred"></i>
        </a>
            `;
        container.appendChild(div);
    }
</script>