{{!-- wine data -> name, country, year, annotations, type, blend, abv, drinkUntil, bottleSize, closure --}}
<div class="container-fluid container-general container-wine">
    <div class="row">
        <div class="col-md-6">
          <div class="card border-0 bg-transparent text-light">
              <div class="card-body">
                  <h2 class="card-title">{{wine.name}}</h2>
                  <p class="card-text"><small>Country: {{wine.country}}</small></p>
                  <p class="card-text"><small>Year: {{wine.year}}</small></p>
                  <p class="card-text"><small>Type: {{wine.type}}</small></p>
                  <p class="card-text">Annotations: {{wine.annotations}}</p>

                  <a href="/cellars/{{cellarId}}/wines">Back</a>
              </div>
          </div>
        </div>
        <div class="col-md-6 mt-4 text-light">
            <h4 class="mb-3">More Info</h4>
            <p>ABV: {{wine.abv}}%</p>
            <hr>
            <p>Drink until: {{wine.drinkUntil}}</p>
            <hr>
            <p>Bottle Size: {{wine.bottleSize}}</p>
            <hr>
            <p>Closure: {{wine.closure}}</p>
            <hr>
            <p>Blend / Grapes Used: {{wine.blend}}</p>
        </div>
    </div>
</div>