{{!-- wine data -> name, country, year, annotations, type, blend, abv, drinkUntil, bottleSize, closure --}}

<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
          <div class="card border-0">
              <div class="card-body">
                  <h2 class="card-title">{{wine.name}}</h2>
                  <p class="card-text"><small class="text-muted">Country: {{wine.country}}</small></p>
                  <p class="card-text"><small class="text-muted">Year: {{wine.year}}</small></p>
                  <p class="car-text">Type: {{wine.type}}</p>
                  <p class="card-text">Annotations: {{wine.annotations}}</p>

                  <a href="/cellars/{{cellarId}}/wines">Back</a>
              </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
            <h4>More Info</h4>
            <ul>
                <li>ABV: {{wine.abv}}%</li>
                <li>Drink until: {{wine.drinkUntil}}</li>
                <li>bottleSize: {{wine.bottleSize}}</li>
                <li>closure: {{wine.closure}}</li>
                <li>Blend / Grapes Used: {{wine.blend}}</li>
            </ul>
        </div>
    </div>
</div>